.item1 {font-family: Arial, Helvetica, sans-serif ;}
.item2 {background-color:paleturquoise;width: 400px;}
.item3 {font-size: large;font-weight: bold;}
.item4 {background-color: #fff2bc;}
.item5 {margin-left:10px;background-color: lightgoldenrodyellow;}
.item6 {margin-bottom: 200px;}
.item7 {margin-left: 70px;}
.item8 {margin-left: 10px;}
.item9 {margin-left: 106px;}
.item10 {background-color: lawngreen;}
.item11 {background-color: red;}
.item12 {background-color: paleturquoise;}
.item13 {background-color: silver; margin-bottom: px;}